/*
====================================
Variables
====================================
*/
$hoverColor: #FF913C;

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 50px;
	letter-spacing: 5px;
}

h4 {
	font-family: 'Cutive Mono', serif;
	font-size: 18px;
}

a {
	color: #333;
	text-decoration: none;
	&:hover {
		color: $hoverColor;
	}
}

.entry-title, .entry-meta {
		color: #fff;
}

.entry-meta {
	font-family: 'Cutive Mono', sans-serif;
	font-size: 20px;

	a {
		color: $hoverColor;
	}
	a:hover {
		color: #fff;
	}
}

.entry-utility {
	font-family: 'Cutive Mono', sans-serif;

	a {
		color: $hoverColor;
	}
}

.pageTitle {
	font-size: 50px;
	color: #fff;
	letter-spacing: 5px;
}

/* paragraphs */

p {
	line-height: 1.5;
	font-family: 'Cutive Mono', serif;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}

/*Button Styles*/
input, textarea {
	border-top: 1px solid $hoverColor;
	border-left: 1px solid $hoverColor;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}

input {
	padding: 1vh;
}

#respond .form-submit input, .wpcf7-submit {
	background: white;
	padding: 15px 40px;
	font-family: 'Montserrat', sans-serif;
	border-top: 1px solid $hoverColor;
	border-left: 1px solid $hoverColor;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	text-transform: uppercase;
	color: #333;
	margin-top: 10px;
	letter-spacing: 2px;
}

// input.searchsubmit {
//  	background: white;
//  	padding: 20px 60px;
//  	border: 2px solid black;
//  	color: $hoverColor;
//  }